@tailwind base;
@tailwind components;
@tailwind utilities;
/* targets the highest-level element which is the html tag */
/* these are for the default (light) theme */
:root {
  --header-bg: rgb(15, 15, 143);
  --header-text: #fff;
  --main-bg: #f9f9f9;
  --main-text: #222;
  --footer-bg: rgb(15, 15, 143);
  --footer-text: #fff;
  --toggle-bg: #fff;         
  --toggle-text: #3a3838;
} 

/* same variables as above but overridden for the dark theme */
html[data-theme="dark"] {
  --header-bg: rgb(15, 15, 143);
  --header-text: #4e71b4;
  --main-bg: #181818;
  --main-text: #8e8585;
  --footer-bg: rgb(15, 15, 143);
  --footer-text: #4e71b4;
  --toggle-bg: #3a3838;        
  --toggle-text: #fff;
}

/* now we use the variables defined above for header, main and footer background and text colors, instead of hardcoded colors */
header {
    background: var(--header-bg);
    color: var(--header-text);
    padding: 1rem;
    text-align: center;
}
main {
    background: var(--main-bg);
    color: var(--main-text);
    padding: 2rem;
    min-height: 60vh;
}
footer {
    background: var(--footer-bg);
    color: var(--footer-text);
    text-align: center;
    padding: 1rem;
}

button.theme-toggle {
  background: var(--toggle-bg);
  color: var(--toggle-text);
  border: 1px solid var(--toggle-text);
}

button.navigation {
  background: var(--toggle-bg);
  color: var(--toggle-text);
  border: 1px solid var(--toggle-text);
}